:local(.header) {
  display: flex;
  align-items: center;
  background: rgb(155, 204, 217);
  padding: 10px;

  h1 {
    font-size: 14pt;
  }

  nav {
    margin-left: auto;
    margin-right: 20px;
  }

  ul {
    list-style-type: none;
    padding-left: 20px;
    text-align: center;
  }

  li {
    display: inline-block;
    padding-right: 10px;
    padding-left: 5px
  }

  .header-container {
      margin-left: 33px;
  }

  img {
    width: 30px;
    height: 30px;
  }

  .home-icon {
    margin-right: 5px;
  }

}
 