:local(.book-detail) {

  display: flex;
  justify-content: center;

  .container {
    width: 100%;
    margin: auto;
    padding: 15px;
    background: #aaa;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;

    h3 {
      font-weight: lighter;
      margin-top: 0;
    }

    img {
      width: 175px;
      margin-right: 10px;
    }

    &:after {
      content: ".";
      display: block;
      height: 0;
      clear: both;
      visibility: hidden;
    }
  }
}