:local(.search-page) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  
  .search-results {
    display: flex;

    ul {
      width: 100%;
      margin: auto;
      margin-left: 10%;
    }
  }

}

