:local(.search) {
  padding: 10px;
  padding-left: 0px;
  margin-left: 40px;

  input {
    font-size: 12pt;
    width: 50%;
  }

  button {
    width: 100px;
    font-size: 10pt;
    padding-top: 5px;
    padding-bottom: 3px;
    line-height: 10pt;
    border: 1pt solid black;
  }
}